/* Tooltip container */
        a:hover{
        cursor: pointer;
        }

        /* Tooltip text */
        .custom_shige_tooltip {
            position: relative;
            /* display: inline-block; */
            /* width: 1em;
            height: 1em;
            vertical-align: middle;
            background: #49beb7;
            border-radius: 100%; */
        }

        .custom_shige_tooltip .custom_shige_tooltiptext {
            position: absolute;
            display: block;
            /* width: 14em; */
            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;
            background: #49beb7;
            color: white;
            font-size: 12px;
            padding: 10px;
            line-height: 1.4;
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            pointer-events: none;
            transition: all 0.4s ease;
            visibility: hidden;
            opacity: 0;
            bottom: 100%;
            z-index: 1;
            text-align: center;
        }

        .custom_shige_tooltip .custom_shige_tooltiptext::after {
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            left: 50%;
            bottom: -5px;
            transform: rotateZ(45deg) translateX(-50%);
            transform-origin: left;
            content: ' ';
            background: #49beb7;
        }

        .custom_shige_tooltip:hover .custom_shige_tooltiptext {
            visibility: visible;
            opacity: 1.0;
            bottom: calc(100% + 10px);
        }


	/* padding-left for header columns except deck-column */
	th.count {
        padding-left:15px;
        cursor: pointer;
	}

        .openDeck .number_cell {
            visibility: hidden;
        }

    .progress:hover {
        overflow: visible !important
    }